body {
  background-color: #f9f7fe;
  font-family: Helvetica, sans-serif;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
}
form {
  display: flex;
}
footer {
  text-align: center;
  font-size: 12px;
}
a {
  color: #885df1;
}
strong {
  color: #885df1;
  font-size: 14px;
}
.body-container {
  max-width: 600px;
  margin: 120px auto;
}
.form-container {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 6px;
}
.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.5;
}
.poem-input {
  width: 70%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  color: #272044;
}
.submit-btn {
  margin-left: 10px;
  border: none;
  padding: 14px 24px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  background-color: #885df1;
  border-radius: 50px;
}
.poem {
  background-color: white;
  padding: 20px;
  border-left: #885df1 2px solid;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 2;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}
.hidden {
  display: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
